<%= render partial: 'shared/home_navbar' %>
<div class="jumbotron">
  <div class="float-md-left col-md-7">
    <h1 class="alt-h1 lh-condensed text-white mb-3">How people build software</h1>
  </div>
</div>
