<nav class="site-header">
  <a href="#" class="">Personal</a>
  <a href="#" class="">Open source</a>
  <a href="#" class="">Business</a>
  <a href="#" class="">Explore</a>
  <a href="#">Pricing</a>
  <a href="#">Blog</a>
  <a href="#">Support</a>
  <%= link_to "Sign in", login_path %>
</nav>
