<nav class="site-header-nav site-header-nav-secondary mr-md-3">
  <a href="#">Pricing</a>
  <a href="#">Blog</a>
  <a href="#">Support</a>
  <%= link_to "Sign in", login_path, class: "btn btn-default" %>
</nav>
