.jumbotron {
  background-color: #d5d5d5;
  background-image: url(/assets/home-hero.jpg);
  width: 100%;
  height: 564px;
  background-size: cover;
}

.alt-h1 {
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
  font-weight: 300;
  text-align: left;
}

.lh-condensed {
  line-height: 1.25 !important;
}

.text-white {
  color: #fff !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.float-md-left {
  float: left !important;
}
